<%= stylesheet_link_tag "shared/news-card" %>

<div id="welcome-wrapper">
  <div class="row white-text" id="welcome-title-wrapper">
    <h2 class="center-align welcome-title">Know the World Better</h2>
    <h2 class="center-align welcome-title">in</h2>
    <h2 class="center-align welcome-title">5 Seconds</h2>
  </div>

  <div class="row news-card">
    <div class="col s6 offset-s3">
      <div class="card hoverable white">
        <div class="card-content">
          <span class="card-title">
            <span class="title-number">5</span>
            <span class="title-unit">seconds</span>
          </span>
          <p>Each data news contains a number title, a subtitle of brief introduction and a source link to original article.</p>
        </div>

        <div class="card-action">
          <%= link_to "Source", root_path, class: "grey-text" %>
        </div>
      </div>
    </div>
  </div>
</div>
