<div class="row news-card">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="card hoverable white">
      <div class="card-content">
        <span class="card-title">
          <h3>Editing Post</h3>
        </span>

        <%= render 'form' %>
      </div>

      <div class="card-action">
        <%= link_to 'Show', @post, class: "waves-effect waves-white btn red" %>
        <%= link_to 'Back', posts_path, class: "waves-effect waves-white btn red" %>
      </div>
    </div>
  </div>
</div>
